.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #145c2c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Ajustes para el contenedor de las estadísticas */
.stats-container {
  text-align: left; /* Alinea el contenido a la izquierda */
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
  padding-left: 30px; /* Añade espacio desde el borde izquierdo */
}

.stats-container p {
  margin: 5px 0; /* Ajusta el margen vertical entre los elementos */
}

/* Contenedor para los botones */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
